.n-statistic .n-statistic-value .n-statistic-value__content {
  font-size: 12px;
}
.n-divider:not(.n-divider--vertical) {
  margin-top: 12px;
  margin-bottom: 12px;
}
.n-tree-node-content__text {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.n-alert .n-alert-body {
  border: none;
}

// avatar.vue
.n-badge.n-badge--dot .n-badge-sup {
  left: 40px;
  top: 36px;
}

// attention-inter.vue
.n-message {
  max-width: 420px;
}

.n-modal-mask {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
